.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background: black;
}

.logoContainer {
  margin-bottom: 2rem;
  width: 200px;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    width: 200px;
  }
}

.logoContainer:hover {
  animation: glitch 0.3s ease-in-out;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: white;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.2rem;
  }
}

.tagline {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 42rem;
  color: #00ffff;
}

@media (min-width: 768px) {
  .tagline {
    font-size: 1.85rem;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 28rem;
}

.discordButton {
  background: linear-gradient(90deg, #6571fb 0%, #3a45c1 100%);
  border: 3px solid #2de2e6;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  transition: all 0.3s ease;
  text-shadow: 0 1px #000000;
}

.discordButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 30px rgba(88, 101, 242, 0.8);
}

.socialGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.socialButton {
  border: 2px solid #ed6db5;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 15px rgba(255, 0, 170, 0.3);
  transition: all 0.3s ease;
  text-shadow: 0 1px #000000;

  position: relative;
}

.socialButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 25px #ff00aa99;
}

.linkedinButton {
  background: linear-gradient(90deg, #0077b5 0%, #005885 100%);
}

.githubButton {
  background: linear-gradient(90deg, #333 0%, #111 100%);
}

.blueskyButton {
  background: linear-gradient(90deg, #00a8e8 0%, #0077b5 100%);
}

.twitterButton {
  background: linear-gradient(90deg, #222222 0%, #000000 100%);
}

.footer {
  margin-top: 1.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.footerText, .shareText {
  font-size: 1.2rem;
  color: #2de2e6;

  a {
    color: #ffe900;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.shareText {
  margin-bottom: 1rem;
  a {
    color: #ed6db5;
  }
}

@keyframes glitch {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
